<div class="panel panel-default">
	<div class="panel-body" *ng-if="authenticationService.isAuthenticated">
		<h4>Calendars</h4>
		<ul class="list-group">
			<li class="list-group-item" *ng-for="#calendar of calendarlist">
				{{calendar}}
			</li>
		</ul>
	</div>
	<div class="panel-body" *ng-if="authenticationService.isAuthenticated">
		<h4>Appointments available for {{authenticationService.userName}}:</h4>
		<ul class="list-group">
			<li class="list-group-item" *ng-for="#appointment of appointments">
				{{appointment}}
			</li>
			<li class="list-group-item">
				Total events: {{appointmentService.totalEvent}}
				<span style="margin-left: 8px">Total times: {{appointmentService.totalTime}}hours</span>
			</li>
		</ul>
		<button class="btn btn-default navbar-btn" (click)="refreshAppointments()">Refresh</button>
	</div>
	<div class="panel-body" *ng-if="!authenticationService.isAuthenticated">
		<h4>Welcome to Calendar analytics.</h4>
		<h5>Please signin with google.</h5>
	</div>
</div>