<div class="panel panel-default">
    <div class="panel-body" *ng-if="authenticationService.isAuthenticated">
        <h4>Calendars</h4>
        <ul class="list-group">
            <button class="btn btn-default navbar-btn list-group-item" *ng-for="#calendar of calendarlist" (click)="selectcalendar(calendar)">
				{{calendar.summary}}
			</button>
        </ul>        
    </div>
    <div class="panel-body" style="float: left" *ng-if="authenticationService.isAuthenticated">
        <button class="btn btn-default navbar-btn" id="refresh" (click)="refreshAppointments()">Refresh</button>
    </div>    
    <div class="panel-body" style="text-align: right" *ng-if="authenticationService.isAuthenticated">       
        <button class="btn btn-default navbar-btn" (click)="setdate('lastmonth')">Last month</button>
        <button class="btn btn-default navbar-btn" (click)="setdate('lastweek')">Last week</button>
        <button class="btn btn-default navbar-btn" (click)="setdate('lastday')">Last day</button>
        <button class="btn btn-default navbar-btn" (click)="setdate('today')">Today</button>
        <button class="btn btn-default navbar-btn" (click)="setdate('nextday')">Next day</button>
        <button class="btn btn-default navbar-btn" (click)="setdate('nextweek')">Next week</button>
        <button class="btn btn-default navbar-btn" (click)="setdate('nextmonth')">Next month</button>        
        <input #box type="text" name="daterange" id="daterange-input", (focus)="rangefilter(box.value)">        
        <input type="text" id = "daterange">
                   
        <script type="text/javascript">
            $(function(){               
                $("#daterange").daterangepicker({
                    "timePicker": true,
                    "linkedCalendars": false,
                     "autoUpdateInput": false,                   
                    locale: {
                        cancelLabel: 'Clear'
                    }
                });
                $("#daterange-input").hide();
                $("#daterange").on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('YYYY-MM-DD h:mm A') + ' ~ ' + picker.endDate.format('YYYY-MM-DD h:mm A'))
                    .hide();

                    $("#daterange-input").val(picker.startDate.format('YYYY-MM-DD h:mm A') + ' ~ ' + picker.endDate.format('YYYY-MM-DD h:mm A'))
                    .show()                    
                    .focus()
                    .hide();
                    $("#daterange").show();                    
                });
                
                $("#daterange-input").click(function(){
                    $("#daterange-input").hide();
                    $("#daterange").show()
                    .focus();                                  
                });

                $("#daterange").on('cancel.daterangepicker', function(ev, picker) {
                     $(this).val('');
                });             
            });                       
        </script>
    </div>
    <div class="panel-body" *ng-if="authenticationService.isAuthenticated">
        <h4>Appointments available for {{calendar}}:</h4>
        <ul class="list-group">
            <div class="list-group-item" id="accordion" *ng-for="#appointment of appointments">               
                <div style="float: left"><a data-toggle="collapse" data-parent="#accordion" href="#collapse{{appointment.id}}">{{appointment.title}}</a></div>                
                <div style="text-align: right">Total time:  {{appointment.time}}  hours <span style="margin-left: 15px">Invite: {{appointment.invite}}<span></div>                
            <div class="panel-collapse collapse" id="collapse{{appointment.id}}">
                <h4>{{appointment.meeting}} Meeting</h4>
                <div *ng-for="#attendee of appointment.attendees">
                    <h5>{{attendee.email}}</h5>
                </div>
            </div> 
            </div>                          
            <li class="list-group-item">
                Total events: {{appointmentService.totalEvent}}
                <span style="margin-left: 10px">Total times: {{appointmentService.totalTime}} hours</span>
                <span style="margin-left: 10px">Most invited: {{most}}</span>
            </li>
        </ul>
    </div>
    <div class="panel-body" *ng-if="!authenticationService.isAuthenticated">
        <h4>Welcome to Calendar analytics.</h4>
        <h5>Please signin with google.</h5>
    </div>
</div>